
h1 {
    position: absolute;
    width: 350px;
    height: 33px;
    left: 60px;
    top: 285px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}


image {
    position: absolute;
    width: 142px;
    height: 66px;
    left: 113px;
    top: 257px;

    max-width: 100%;
    height: auto;
}

.fName {
    position: absolute;
    width: 240px;
    height: 42px;
    left: 68px;
    top: 339px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.lName {
    position: absolute;
    width: 240px;
    height: 42px;
    left: 68px;
    top: 392px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.email {
    position: absolute;
    width: 240px;
    height: 42px;
    left: 68px;
    top: 445px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.dropdown{
    position: absolute;
    width: 240px;
    height: 42px;
    left: 400px;
    top: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.adropdown {
    position: absolute;
    width: 240px;
    height: 42px;
    left: 250px;
    top: 90px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

h2 {
    position: absolute;
    width: 240px;
    height: 33px;
    left: 68px;
    top: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #0c9623;
}

h4 {
    position: absolute;
    width: 250px;
    height: 33px;
    left: 68px;
    top: 538px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h5 {
    position: absolute;
    width: 85px;
    height: 33px;
    left: 338px;
    top: 530px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .adropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content b {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown-content b:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}