
h1 {
    position: absolute;
    width: 185px;
    height: 42px;
    left: 110px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h6:before {
    content:"• ";
}
h7:before {
    content:"• ";
}
h8:before {
    content:"• ";
}
h9:before {
    content:"• ";
}
h10:before {
    content:"• ";
}

h2 {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 100px;
    top: 480px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h3 {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 200px;
    top: 475px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h4 {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 400px;
    top: 465px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h5 {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 590px;
    top: 455px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

h6 {
    position: absolute;
    width: 600px;
    height: 19px;
    left: 100px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #007423;
}

h7 {
    position: absolute;
    width: 600px;
    height: 19px;
    left: 100px;
    top: 205px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #007423;
}

h8 {
    position: absolute;
    width: 600px;
    height: 19px;
    left: 100px;
    top: 240px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #007423;
}

h9 {
    position: absolute;
    width: 600px;
    height: 19px;
    left: 100px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #007423;
}

h10 {
    position: absolute;
    width: 600px;
    height: 19px;
    left: 100px;
    top: 325px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #007423;
}
